<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JC Ecommerce Website</title>
    <link rel="stylesheet" href="../CSS/index.css">
</head>
<body>
    <header class="header" id="header">
        <div class="header__brand">
            <img src="../IMG/favicon.svg" alt="Shoppping cart main logo in page">
            <h1>JC Ecommerce Website</h1>
        </div>

        <img class="header__icon" src="../IMG/menu.svg" alt="Icon for resposive menu" id="menu-open">

        <nav class="header__nav" id="nav-menu">
            <img class="header__icon header__icon--close" id="menu-close" src="../IMG/close.svg"
                alt="Close icon for responsive menu">

            <ul class="header__menu">
                <li><a class="header__link" href="./index.html">Inicio</a></li>
                <li><a class="header__link" href="./ASSETS/VIEWS/products.html">Ir al comercio</a></li>
                <li><a class="header__link header__link--button" href="../../index.html" id="logout-button">Cerrar sesion</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="welcome-content">
        
    </main>
    <script src="../JS/admin.js"></script>
</body>
</html>