<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="../IMG/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../CSS/index.css">
</head>

<body>
    <header class="header" id="header">
        <div class="header__brand">
            <img src="../IMG/favicon.svg" alt="Shopping cart main logo in page">
            <h1>JC Ecommerce Website</h1>
        </div>
        <img class="header__icon" id="menu-open" src="../IMG/menu.svg" alt="">
        <nav class="header__nav" id="nav-menu">
            <img class="header__icon header__icon--close" id="menu-close" src="../IMG/close.svg" alt="">
            <ul class="header__menu">
                <li><a class="header__link" href="../../index.html">
                        <img src="../IMG/favicon.svg" alt="Shopping cart main logo in page">
                </a></li>
                <li><a class="header__link" href="../../index.html">Inicio</a></li>
                <li><a class="header__link" href="./products.html">Ir al comercio</a></li>
                <li><a class="header__link header__link--button" href="../../index.html" id="logout-button">Cerrar
                        sesión</a></li>
            </ul>
        </nav>
    </header>
    <main class="welcome-content admin-main">

    </main>
    <script src="../JS/admin.js" defer></script>
    <script src="../JS/index.js" defer></script>
</body>

</html>