@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Roboto:wght@300;400;500&display=swap');
@import './header.css';
@import './welcome-content.css';
@import './services.css';
@import './testimonials.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}