.testimonials {
    background-color: #fff;
}

.testimonials__tittle {
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;
}

.testimonials__element {
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: #006170;
}

.testimonials__element--reverse {
    flex-direction: row-reverse;
}

.testimonials__element--reverse .testimonials__image {
    border-radius: 0 15px 15px 0;
}

.testimonials__image {
    background-image: url('../IMG/testimonial1.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    flex: 50%;
    border-radius: 15px 0 0 15px;
}

.testimonials__container {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.testimonials__content {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
    flex: 50%;
}

.testimonials__icon {
    width: 25px;
}