.welcome-content {
    min-height: 100vh;
    background-image: url('../IMG/banner.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #0009;
    background-blend-mode: soft-light;
}

.banner {
    height: calc(100vh);
    padding-top: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.banner__tittle {
    color: #fff;
    font-size: 80px;
    text-shadow: -2px 4px 4px rgba(0,0,0,1);
}

.banner__subtittle {
    font-size: 28px;
    color: #fff;
    display: block;
    white-space: nowrap;
    border-right: 3px solid #006170;
    width: 41ch;
    /* ch es lo que mide un 0 */
    animation: typing 6s steps(50, end), blink .5s step-end alternate;
    overflow: hidden;
    text-shadow: -2px 4px 4px rgba(0,0,0,1);
}

@media screen and (width <= 720px){
    .banner__tittle{
        font-size: 40px;
    }

    .banner__subtittle{
        font-size: 20px;
    }
}

@media screen and (width <= 500px){
    .banner__tittle{
        font-size: 30px;
    }

    .banner__subtittle{
        font-size: 15px;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

